:root {
    --selection: rgba(255, 77, 0, 0.977);
    --light-grey: #ccc;
    --active-switch: #68d97b;
    
    --darkmode-bg: #151515;
    --darkmode-text: #ddd;
    --darkmode-shadow: 11px 11px 21px #070707, -11px -11px 21px #1d1d1d;
  
    --lightmode-bg: #f4f4f4;
    --lightmode-text: rgb(74, 71, 71);
    --lightmode-shadow: 7px 7px 13px #a1a1a1, -7px -7px 13px #ffffff;; 
}

body{
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
    background: #e0e0e0;
}

.site-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid black;
    margin-bottom: 7px;
}
.title {
    width: fit-content;
    margin: auto;
}
.iconbox {
    width: fit-content;
    margin: auto;
}

.social-icons{
    list-style: none;
    display: flex;
    width: fit-content;
}
.social-icons li{
    width: 30px;
    font-size: 1.5rem;
}
.social-icons li a{
    text-decoration: none;
    color: var(--dark-4);
}

#game-board {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.letter-box {
    margin: 5px;
    font-size: 2.5rem;
    font-weight: 700;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border-radius: 15px;
    background: #e0e0e0;
    box-shadow:  var(--lightmode-shadow);
}

.filled-box {
    border: 2px black; 
}
  
.letter-row {
    display: flex;
}

#keyboard-cont {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#keyboard-cont div {
    display: flex;
}

.second-row {
    margin: 0.5rem 0;
}

.keyboard-button {
    font-size: 2rem;
    font-weight: 700;
    padding: 0.5rem;
    margin: 0 2px;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    min-width: 3rem;
    border-radius: 7px;
    background: var(--light-grey);
    /* background: linear-gradient(145deg, #f0f0f0, #cacaca); */
    box-shadow: var(--lightmode-shadow);
}

.dark-mode-switch {
    position: relative;
    width: 50px;
    height: 25px;
    background-color: var(--light-grey);
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:before {
      content: "";
      position: absolute;
      top: 2px;
      left: 2px;
      width: 21px;
      height: 21px;
      background-color: var(--darkmode-bg);
      border-radius: 50%;
      transition: transform 0.3s ease;
    }
  
    &.active {
      background-color: var(--darkmode-text);
  
      &:before {
        content: "";
        background-color: var(--active-switch);
        filter: drop-shadow(0px 0 15px #fff);
  
        transform: translateX(25px);
      }
    }
}

.dark-mode {
    background-color: var(--darkmode-bg);
    color: var(--darkmode-text);
  
    a {
      color: var(--darkmode-links);
  
      &:hover {
        background-color: var(--darkmode-links);
      }
    }
}

.dark-mode .letter-box {
    margin: 5px;
    font-size: 2.5rem;
    font-weight: 700;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border-radius: 15px;
    background: #212121;
    box-shadow:  var(--darkmode-shadow);
}

.dark-mode .keyboard-button{
    font-size: 2rem;
    color: var(--darkmode-text);
    font-weight: 700;
    padding: 0.5rem;
    margin: 0 2px;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    min-width: 3rem;
    border-radius: 7px;
    background: #111111;
    box-shadow: var(--darkmode-shadow);
}